*{
    margin: 0%;
    padding: 0%;
}

.flex-column{
    border: 2px solid white;
    background: rgb(255, 255, 255);
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: space-between;
    align-items: center
    
}
.flex-column .flex-item-column{
border: 2px solid gold;
background: gold;
width: 10vh;
height: 10vh;
}
h1{
    text-align: center;
    color:cornflowerblue;

}
header{
    width: 225vh;
    background-color: #0d1320;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5%;
}
a{
    text-decoration: none;
    color: aliceblue;
}
img{
    height: 90%;
    margin: 0% 3% 0% 0%;
}
